@if(user) {
    <div class="container">
        <h1>Mi perfil (User {{user.idUsuario}})</h1>
        <hr class="border border-danger border-2 opacity-100">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{user.nombre}}</td>
                    <td>{{user.email}}</td>
                </tr>
            </tbody>
        </table>
        <a [routerLink]="['/compras']" class="btn btn-primary w-100 mt-3">
            Mostrar Compras
        </a>
    </div>
}