<div class="container">
    <h1>Bienvenido</h1>
    <hr class="border border-danger border-2 opacity-100">
    <div id="cubos" class="row justify-content-between">
        @for(cubo of cubos; track cubo) {
            <div class="card" style="width: 11rem;">
                <img src={{cubo.imagen}} class="card-img-top" alt="imagen cubo">
                <div class="card-body">
                    <h5 class="card-title">{{cubo.nombre}}</h5>
                    <p class="card-text">{{cubo.precio}}€</p>
                    <a [routerLink]="['/cubo/', cubo.idCubo]" class="btn btn-primary">Detalles</a>
                </div>
            </div>
        }
    </div>
</div>